<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - eShopMicroservices Sonar way" ToolsVersion="17.0">
  <Include Path="..\..\..\.sonarlint\eshopmicroservicescsharp.ruleset" Action="Default" />
  <Include Path="..\..\..\.sonarlint\sshopmicroservicescsharp.ruleset" Action="Default" />
</RuleSet>